In [1]:
import pandas as pd

In [2]:
path = 'nba odds 2021-22.xlsx'
dataframe = pd.read_excel(path, usecols = ['Date', 'Team', '1st', '2nd', '3rd', '4th', 'Final', 'ML'])
dataframe.head()

   Date         Team  1st  2nd  3rd  4th  Final    ML
0  1019     Brooklyn   25   34   26   19    104   105
1  1019    Milwaukee   37   29   31   30    127  -125
2  1019  GoldenState   32   21   30   38    121   140
3  1019     LALakers   34   25   26   29    114  -160
4  1020      Indiana   38   37   13   34    122  -125

In [3]:
team_name = {'Detroit': 'DetroitPistons', 'Washington': 'WashingtonWizards',
            'Dallas': 'DallasMavericks', 'Phoenix': 'PhoenixSuns',
            'NewOrleans': 'NewOrleansPelicans', 'LAClippers': 'LAClippers',
            'OklahomaCity': 'OklahomaCityThunder', 'Golden State': 'GoldenStateWarriors',
            'Philadelphia': 'Philadelphia76ers', 'Indiana': 'IndianaPacers',
            'Miami': 'MiamiHeat', 'Toronto': 'TorontoRaptors',
            'Orlando': 'OrlandoMagic', 'NewYork': 'New YorkKnicks',
            'Boston': 'BostonCeltics', 'Chicago': 'ChicagoBulls',
            'SanAntonio': 'SanAntonioSpurs', 'Portland': 'PortlandTrailBlazers',
            'Denver': 'DenverNuggets', 'Memphis': 'MemphisGrizzlies',
            'Brooklyn': 'BrooklynNets', 'Houston': 'HoustonRockets',
            'Houston Rockets': 'UtahJazz', 'Minnesota':'MinnesotaTimberwolves',
            'LALakers': 'Los AngelesLakers', 'Atlanta': 'AtlantaHawks',
            'Charlotte': 'CharlotteHornets', 'Cleveland': 'ClevelandCavaliers',
            'Sacramento': 'SacramentoKings', 'Milwaukee': 'MilwaukeeBucks'}
dataframe.replace({'Team': team_name}, inplace = True)

In [4]:
def format(date):
    if date > 1000:
        return '20' + path.split(' ')[2].split('.')[0].split('-')[1] + str(date)
    else:
        return path.split(' ')[2].split('.')[0].split('-')[0] + '0' + str(date)
dataframe['Date'] = list(map(format, dataframe['Date']))

In [5]:
dataframe['ID'] = list(map(str, dataframe['Date'])) + dataframe['Team']
dataframe.head()

,Date,Team,1st,2nd,3rd,4th,Final,ML,ID
0,20221019,BrooklynNets,25,34,26,19,104,105,20221019BrooklynNets
1,20221019,MilwaukeeBucks,37,29,31,30,127,-125,20221019MilwaukeeBucks
2,20221019,GoldenState,32,21,30,38,121,140,20221019GoldenState
3,20221019,Los AngelesLakers,34,25,26,29,114,-160,20221019Los AngelesLakers
4,20221020,IndianaPacers,38,37,13,34,122,-125,20221020IndianaPacers

In [6]:
import pandas as pd
import numpy as np
from nba_api.stats.endpoints import leaguegamefinder

df = leaguegamefinder.LeagueGameFinder().get_data_frames()[0]

df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22022,1610612742,DAL,Dallas Mavericks,0022200053,2022-10-25,DAL @ NOP,L,240,111,...,0.708,11,26,37,18,8,5,11,16,-2.0
1,22022,1610612764,WAS,Washington Wizards,0022200052,2022-10-25,WAS vs. DET,W,241,120,...,0.846,9,38,47,26,7,7,11,20,21.0
2,22022,1610612740,NOP,New Orleans Pelicans,0022200053,2022-10-25,NOP vs. DAL,W,239,113,...,0.722,4,22,26,25,7,3,14,21,2.0
3,22022,1610612765,DET,Detroit Pistons,0022200052,2022-10-25,DET @ WAS,L,238,99,...,0.760,11,30,41,12,6,1,13,26,-21.0
4,22022,1610612756,PHX,Phoenix Suns,0022200055,2022-10-25,PHX vs. GSW,W,238,134,...,0.824,14,34,48,31,8,4,13,19,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1612709903,SLC,Salt Lake City Stars,2021600240,2017-01-11,SLC vs. GRD,W,241,129,...,0.789,13,40,53,25,8,1,9,25,35.0
29996,22016,1612709890,AUS,Austin Spurs,2021600241,2017-01-11,AUS @ RNO,L,254,91,...,0.960,10,30,40,21,8,2,15,27,-6.0
29997,22016,1610612760,OKC,Oklahoma City Thunder,0021600581,2017-01-11,OKC vs. MEM,W,241,103,...,0.793,11,42,53,21,5,4,16,18,8.0
29998,22016,1612709908,RGV,Rio Grande Valley Vipers,2021600239,2017-01-11,RGV vs. SXF,L,240,129,...,0.903,10,27,37,28,11,7,26,29,-6.0
29999,22016,1610612752,NYK,New York Knicks,0021600580,2017-01-11,NYK @ PHI,L,240,97,...,0.900,8,32,40,20,7,8,13,22,-1.0

In [7]:
for i in range(len(df)):
    df['GAME_DATE'].iloc[i]= df['GAME_DATE'][i].replace('-','')
    df['TEAM_NAME'].iloc[i] = df['TEAM_NAME'][i].replace(' ','')

/Users/thomasmanaut/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [8]:
df['ID'] = df['GAME_DATE'] + df['TEAM_NAME']

In [9]:
df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,ID
0,22022,1610612742,DAL,DallasMavericks,0022200053,20221025,DAL @ NOP,L,240,111,...,11,26,37,18,8,5,11,16,-2.0,20221025DallasMavericks
1,22022,1610612764,WAS,WashingtonWizards,0022200052,20221025,WAS vs. DET,W,241,120,...,9,38,47,26,7,7,11,20,21.0,20221025WashingtonWizards
2,22022,1610612740,NOP,NewOrleansPelicans,0022200053,20221025,NOP vs. DAL,W,239,113,...,4,22,26,25,7,3,14,21,2.0,20221025NewOrleansPelicans
3,22022,1610612765,DET,DetroitPistons,0022200052,20221025,DET @ WAS,L,238,99,...,11,30,41,12,6,1,13,26,-21.0,20221025DetroitPistons
4,22022,1610612756,PHX,PhoenixSuns,0022200055,20221025,PHX vs. GSW,W,238,134,...,14,34,48,31,8,4,13,19,29.0,20221025PhoenixSuns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,22016,1612709903,SLC,SaltLakeCityStars,2021600240,20170111,SLC vs. GRD,W,241,129,...,13,40,53,25,8,1,9,25,35.0,20170111SaltLakeCityStars
29996,22016,1612709890,AUS,AustinSpurs,2021600241,20170111,AUS @ RNO,L,254,91,...,10,30,40,21,8,2,15,27,-6.0,20170111AustinSpurs
29997,22016,1610612760,OKC,OklahomaCityThunder,0021600581,20170111,OKC vs. MEM,W,241,103,...,11,42,53,21,5,4,16,18,8.0,20170111OklahomaCityThunder
29998,22016,1612709908,RGV,RioGrandeValleyVipers,2021600239,20170111,RGV vs. SXF,L,240,129,...,10,27,37,28,11,7,26,29,-6.0,20170111RioGrandeValleyVipers
29999,22016,1610612752,NYK,NewYorkKnicks,0021600580,20170111,NYK @ PHI,L,240,97,...,8,32,40,20,7,8,13,22,-1.0,20170111NewYorkKnicks